@page "/controlsizemode"
@inherits ControlSizeBase

<h3>Size Mode for a control</h3>
<hr />

<SfButton @onclick="Touch">TouchMode</SfButton>
<SfButton @onclick ="Mouse">MouseMode</SfButton>

<div class="@CssClass">
    <SfCalendar TValue="DateTime?" Value="@DateValue"></SfCalendar>
</div>

<div class="e-bigger">
    <SfButton>Button</SfButton>
</div>

<div class="e-bigger">
    <SfCheckBox Label="checked" @bind-Checked="isChecked"></SfCheckBox>
</div>

@code{
    protected bool isChecked = true;
    protected DateTime? DateValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 8);
}